ion-label.pokemon.Normal {
   background-color: #a8a878
}

ion-label.pokemon.Fire {
   background-color: #f08030
}

ion-label.pokemon.Water {
   background-color: #6890f0
}

ion-label.pokemon.Grass {
   background-color: #78c850
}

ion-label.pokemon.Poison {
   background-color: #a040a0
}

ion-label.pokemon.Electric {
   background-color: #f8d030
}

ion-label.pokemon.Ground {
   background-color: #e0c068
}

ion-label.pokemon.Psychic {
   background-color: #f85888
}

ion-label.pokemon.Rock {
   background-color: #b8a038
}

ion-label.pokemon.Ice {
   background-color: #98d8d8
}

ion-label.pokemon.Bug {
   background-color: #a8b820
}

ion-label.pokemon.Dragon {
   background-color: #7038f8
}

ion-label.pokemon.Ghost {
   background-color: #705898
}

ion-label.pokemon.Steel {
   background-color: #b8b8d0
}

ion-label.pokemon.Fairy {
   background-color: #ee99ac
}

ion-label.pokemon.Dark {
   background-color: #705848
}

ion-label.pokemon.Flying {
   background-color: #a890f0
}

ion-label.pokemon.Fighting {
   background-color: #c02038
}

ion-label.pokemon.legendary {
   color: #c600ff;
   font-weight: 700
}

ion-label.pokemon.mythical {
   color: #ff8000;
   font-weight: 700
}

ion-label.pokemon:first-child {
   padding: 2.5px 0;
   border-top-left-radius: 3px;
   border-bottom-left-radius: 3px;
}

ion-label.pokemon:last-child {
   padding: 2.5px 0;
   border-top-right-radius: 3px;
   border-bottom-right-radius: 3px;
}

ion-card {
   text-align: center;
   background-color: white !important;
}

ion-card-header img {
   max-width: 100%;
   border: 0;
   height: 100px;
   object-fit: contain;
}

ion-label {
   color: white !important;
   font-weight: bold;
   text-align: center;
   justify-content: space-between;
   ;
}

ion-content {

   --ion-background-color: #e5e5e5;
}

ion-item.tipo-pokemon {
   --ion-background-color: lightgrey !important;
}

.item-accordion {
   cursor: pointer;
}

#filtering {
   height: 0;
   -webkit-transition: height 0.3s ease-in-out;
   -moz-transition: height 0.3s ease-in-out;
   -o-transition: height 0.3s ease-in-out;
   -ms-transition: height 0.3s ease-in-out;
   transition: height 0.3s ease-in-out;
}

#filtering.displayON {
   height: 70px;
}

ion-icon.fav {
   color: blue;
}