#container {
  transform: translateY(-50%);
  text-align: center;
  position: absolute;
  right: 0;
  top: 50%;
  left: 0;
}

#container strong {
  line-height: 26px;
  font-size: 20px;
}

#container p {
  line-height: 22px;
  font-size: 16px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

#button-pokedex {
  position: relative;
  cursor: pointer;
  left: 19px;
  top: 20px;
}

@-webkit-keyframes pokebola {
  0% {
    background-color: red;
    border: 3px solid red;
  }

  100% {
    background-color: white;
    border: 3px solid white;
  }
}

#button-pokedex button {
  -webkit-animation: pokebola 0.8s infinite;
  box-shadow: 1px 1px 1px 1px #171212;
  border-radius: 50%;
  font-weight: bold;
  font-size: 1.2em;
  height: 92px;
  width: 92px;
}

.home {
  //--background: url('../../assets/homeIMG.jpg') 0 0/100% 100% no-repeat;
  background-image: url("../../assets/homeIMG.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
}